<div class="modal-header">
    <h3 class="modal-title" style="text-align: center;" id="modal-title">Movie Player</h3>
</div>
<div class="modal-body" id="modal-body">
    <div class="video_div">
        <video width="640" height="480" controls>
          <source src="{{$ctrl.movie.contents[0].url}}" type="video/mp4">
          <source src="{{$ctrl.movie.contents[0].url}}" type="video/ogg">
          Your browser does not support HTML5 video.
        </video>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Add to Watched movies</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Done</button>
</div>