<li ng-click="handleClick($ctrl.movie)" class="movie_card">
	<a><img src="{{$ctrl.movie.images[0].url}}"></a>
	<div class="heading_div">
		<h4 style="text-align: center;">{{$ctrl.movie.title}}</h4>
	</div>
</li>