<div class="modal-header">
    <h3 class="modal-title" style="text-align: center;" id="modal-title">Movie Player</h3>
</div>
<div class="modal-body" id="modal-body">
      <movie-card ng-repeat="movie in movies"
        movie="movie"
      ></movie-card>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Done</button>
</div>