<div class="modal-header">
    <h3 class="modal-title" style="text-align: center;" id="modal-title">Watched Movies</h3>
</div>
<div class="modal-body watch-modal-body" id="modal-body">
  <ul class="movies_list">
  <movie-card ng-repeat="movie in $ctrl.watched"
        movie="movie"
  ></movie-card>
  </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Done</button>
</div>