.movies_header{
	background: #616161;
	width: 100%;
	color: white;
	font-size: -webkit-xxx-large;
}
.movies_header a{
	color: white;
	cursor: pointer;
}
.movies_header_row{
	padding: 50px 100px 50px 100px;
}

.movies_list{
	margin: 20px 20px 20px 50px;
	padding: 0;
	white-space:nowrap;
    overflow: scroll;
    width: 100%;

}

.movie_card{
	margin: 10px 10px 10px 10px;
	display: inline-block;
	zoom: 1.5;
	width:223px;
	border: solid 5px #616161;
    border-radius: 5px
}

.heading_div{
	width: 100%;
	overflow: scroll;
}

.video_div{
	width:600px; 
	padding: 0px 120px;
}

video{
	max-width: 600px;
}
.watch-modal-body{
	overflow-x: hidden;
}

@media screen and (max-width: 1090px) {
.video_div{
	width:600px; 
	padding: 0px 0px;
}

video{
	width: 560px;
}

.movies_header{
	width:120%;
}
}
